.ao-vivo {
  padding: 3rem 0;
}

.ao-vivo-wrapper {
  position: relative;

  .slide-controls {
    position: absolute;
    top: 62%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .next,
    .prev {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: $dark-green;
      border: none;
      @include border-radius;
      outline: none;
      cursor: inherit;
      z-index: 100;
      opacity: 0;
      transition: all 0.3s ease-in;

      &:hover,
      &:focus {
        border: 2px solid $black;
      }
    }

    .next {
      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    .prev {
      transform: rotate(180deg);

      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.slide-ao-vivo {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 40px;
    background: rgba(0, 0, 0, 0.05);
    filter: blur(12px);
  }

  &::after {
    top: 0;
    right: 0;
  }

  .cards-partida {
    display: flex;
    transition: all 0.5s ease-in-out;

    .partida {
      flex: 1 0 calc(50% - 0.5rem);
      padding: 1.2rem;
      border: 1px solid $black;
      @include border-radius;

      h3 {
        display: flex;
        align-items: center;
        @include type(bold, 1.2rem);
        margin-bottom: 1.5rem;

        .em-andamento {
          display: inline-block;
          margin-left: 0.8rem;
          padding: 0.3rem;
          background: $dark-green;
          color: $white;
          @include type(light, 0.8rem);
          @include border-radius;
        }
      }

      .placar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        p {
          margin: 0 1rem;
          @include type(light, 1rem);
        }

        .escudo {
          width: 45px;
        }
      }

      .info {
        display: flex;
        justify-content: space-around;
        @include type(light, 1rem);

        p {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: -10px;
            width: 3px;
            height: 100%;
            background: $dark-green;
          }
        }
      }
    }

    .partida + .partida {
      margin-left: 1rem;
    }
  }
}
