.campeonatos-wrapper {
  padding: 2.5rem 0;
}

.campeonato-card {
  display: none;
  justify-content: space-between;
  align-items: center;
  max-height: 400px;
  margin: 3.5rem 0 1.5rem 0;
  padding: 1.5rem 0.5rem;
  animation: show-left 0.2s linear;

  &.active {
    display: flex;

    @include responsive(small) {
      flex-direction: column;
      align-items: center;
      max-height: none;
    }
  }

  .card-img {
    width: 400px;

    @include responsive(medium) {
      max-width: 350px;
    }

    @include responsive(small) {
      max-width: 300px;
      margin-bottom: 2rem;
    }
  }

  .card-content {
    flex: 1;
    max-width: 600px;
    position: relative;
    margin-left: calc(2rem + 15px);
    padding: 1rem 2.5rem;
    background: $white;
    @include box-shadow;
    @include border-radius;

    @include responsive(small) {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -15px;
      display: inline-block;
      width: 4px;
      height: 100%;
      background: $dark-green;
      @include border-radius;

      @include responsive(small) {
        display: none;
      }
    }

    .card-title {
      @include type(bold, 2rem);
      margin-bottom: 1.5rem;

      @include responsive(medium) {
        font-size: 1.35rem;
      }

      @include responsive(small) {
        font-size: 1.35rem;
      }
    }

    .card-info {
      @include type(light, 1rem);
    }

    .card-info + .card-info {
      margin-top: 1rem;
    }
  }
}

@include key-show-left;
