// Botão para abrir o dropdown-menu
.dropdown-toggler {
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $dark-green;
    transition: all 0.2s linear;
  }
}

// Estilo para quando o dropdown estiver ativo
.dropdown-toggler.active {
  background: darken($color: $white, $amount: 4%);

  &::after {
    transform: rotate(-180deg);
  }
}

// Dropdown-menu
.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 0;
  padding: 0.5rem 0;
  background: $dark-green;
  @include box-shadow;
  @include border-radius;

  li {
    a {
      padding: 1rem;
      color: $white;

      &:hover {
        background: darken($color: $dark-green, $amount: 5%) !important;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 55px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $dark-green;
    transition: all 0.2s linear;
  }
}

// Estilo do dropdown-menu quando estiver ativo
.dropdown-menu.active {
  display: block;
  animation: show-left 0.2s linear forwards;
}

// Keyframe da animação de entrada
@include key-show-left;
