.funcionalidades {
  padding: 5.5rem;
  background: $black;

  .funcionalidade-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 3rem;

    .funcionalidade-card {
      @include box-shadow;
      @include border-radius;
      padding: 1.5rem;
      color: $white;
      text-align: center;
      background: lighten($color: $black, $amount: 5%);

      .card-title {
        @include type(bold, 1.5rem);
        color: $dark-green;
        margin-bottom: 1rem;
      }

      .card-info {
        @include type(light, 1rem);
        line-height: 1.8;
      }
    }
  }
}
