body {
  padding-top: 69px;

  @include responsive(small) {
    padding-top: 0;
  }
}

button {
  display: block;
  @include type(light, 1rem);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.8rem;
}
