body {
  padding-top: 69px;

  @include responsive(small) {
    padding-top: 0;
  }
}

button {
  display: block;
  @include type(light, 1rem);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

[data-animate-scroll].container {
  opacity: 0;
}

.section-header {
  .titulo {
    position: relative;
    @include type(bold, 2.5rem);
    margin-bottom: 0.8rem;

    @include responsive(small) {
      @include type(bold, 1.8rem);
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      display: inline-block;
      width: 40px;
      height: 5px;
      background: $dark-green;
    }

    &.white {
      color: $white;
    }
  }

  .text {
    @include type(light, 1.1rem);
    margin-bottom: 2rem;
    line-height: 1.5;

    @include responsive(small) {
      max-width: 380px;
    }
  }
}

.nav-tab {
  display: flex;

  a {
    display: block;
    padding: 1.5rem;
    background: $white;
    @include border-radius;
    @include type(light, 1rem);
    text-align: center;
    transition: all 0.2s linear;

    @include responsive(small) {
      padding: 1rem;
    }

    &:hover {
      background: darken($color: $white, $amount: 5%);
    }

    &.active {
      background: $dark-green;
      color: $white;
      @include border-radius;
    }
  }

  div + div {
    margin-left: 1.5rem;
  }
}

// Classe que anima as sections ao scroll
[data-animate-scroll].animate-section {
  animation: show-left 0.3s ease-in-out forwards;
}

@include key-show-left;

// Classe da animação do efeito dominó
[data-animate-domino] {
  opacity: 0;
}

.animate-domino {
  animation: scale-center 0.3s ease-in-out forwards;
}

@include key-scale-center;
