// Header geral
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
  @include box-shadow;

  @include responsive(small) {
    position: relative;
  }

  // Classe de wrapper para o header
  .header-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    // Logo da Soccer Stats
    .logo {
      grid-column: 1 / 2;
      width: 200px;
      cursor: pointer;
    }

    // Navegação principal
    .main-nav {
      grid-column: 2 / 3;
      justify-self: end;
      color: $black;
      @include type(light, 1.1rem);
      @include responsive(small) {
        display: none;
      }

      // Classe da ul dentro de main-nav
      .nav {
        display: flex;

        li a {
          position: relative;
          display: block;
          padding: 1.5rem 1rem;
          transition: all 0.2s linear;

          &:hover {
            background: darken($color: $white, $amount: 4%);
          }
        }

        & > li + li {
          margin-left: 1.5rem;
        }
      }
    }

    // Botão para ativar o menu mobile
    .mobile-button {
      justify-self: end;
      display: none;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 0.3rem;
      cursor: pointer;

      // Resonsivem para telar pequenas
      @include responsive(small) {
        display: flex;
        margin: 0.92rem 0;
      }

      // Botão do menu-mobile
      button {
        display: block;
        position: relative;
        outline: none;
        border: none;
        width: 100%;
        height: 4px;
        background: $black;
        @include border-radius;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          display: inline-block;
          left: 0;
          width: 100%;
          height: 4px;
          box-shadow: 0 -12px $black, 0 8px $black;
          @include border-radius;
        }
      }
    }
  }
}
