// Importando a font Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variáveis de cor
$primary-color: #7cff6a;
$dark-green: #0ea123;
$white: #fafafa;
$black: #272727;

// Variáveis de fonte
$font: 'Montserrat', sans-serif;

// Variáveis para o responsive
$large-device: 1100px;
$medium-device: 800px;
$small-device: 600px;

// Mixin da tipografia
@mixin type($type, $size) {
  @if $type == bold {
    font-family: $font;
    font-size: $size;
    font-weight: 700;
  } @else if $type == light {
    font-family: $font;
    font-size: $size;
    font-weight: 400;
  }
}

// Mixin do gradiente
@mixin green-gradient {
  background: -moz-linear-gradient(90deg, $dark-green 28%, $primary-color 87%);
  background: -webkit-linear-gradient(
    90deg,
    $dark-green 28%,
    $primary-color 87%
  );
  background: linear-gradient(90deg, $dark-green 28%, $primary-color 87%);
}

// Mixing do box-shadow
@mixin box-shadow {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

// Mixin de border-radius
@mixin border-radius {
  border-radius: 5px;
}

// Mixin para o responsive
@mixin responsive($device) {
  @if $device == large {
    @media (min-width: $large-device) {
      @content;
    }
  } @else if $device == medium {
    @media (min-width: $medium-device) and (max-width: $large-device - 1) {
      @content;
    }
  } @else if $device == small {
    @media (max-width: $medium-device - 1) {
      @content;
    }
  }
}

// Mixin de keyframes
@mixin key-show-left {
  // Animação de entrada da esquerda pra direita
  @keyframes show-left {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@mixin key-show-up {
  // Animação de entrada de cima para baixo
  @keyframes show-up {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@mixin key-scale-center {
  // Animação de entrada de scale de fora pra dentro
  @keyframes scale-center {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
